.swiper-pagination {
  bottom: 4px !important;
}

.swiper-pagination-bullet {
  width: 7px !important;
  height: 7px !important;
  background: transparent !important;
  border: 1px solid white !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: white !important;
  border-color: white !important;
} 