@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-stone-100;
  overscroll-behavior-y: contain;
}

/* 스켈레톤 로더 애니메이션 */
@keyframes pulse {
  0%,
  100% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.3;
  }
}

.skeleton-loader {
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* Pull To Refresh 스타일 */
.refresh-container {
  @apply w-fit -mt-10 m-auto z-50;
}

.refresh-icon {
  @apply p-2 rounded-full;
}

.refresh-container.loading .refresh-icon {
  @apply animate-spin;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
